@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Rubik Moonrocks', cursive;
}
.toggle-button-cover {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
}

.button-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.button {
    position: relative;
    top: 0;
    width: 120px;
    height: 40px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 10px 20px -8px #c5d6d6;
        border-radius: 25px;
}
.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs {
    z-index: 2;
}

.button .knobs:before, .button .knobs:after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 50px;
    height: 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 15px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.button .knobs:before {
    content: "SHOW";
}

.button .knobs:after {
    top: -35px;
    right: 4px;
    left: auto;
    background-color: #f44336;
}
.button .knobs:after {
    content: "HIDE";
}
.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}
.button .checkbox:checked + .knobs:before {
    top: -35px;
}
.button .checkbox:checked + .knobs:after {
    top: 4px;
}
.button .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}

main{
    width: 100%;
    margin: auto;
    height: 100%;
        background-color: #ebf2fd;
}
main svg{
    height: 100%;
}

svg .svg-elem-1 {
  stroke-dashoffset: 5140px;
  stroke-dasharray: 5140px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(235, 242, 253);
}

svg .svg-elem-2 {
  stroke-dashoffset: 755.953125px;
  stroke-dasharray: 755.953125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-3 {
  stroke-dashoffset: 755.9549560546875px;
  stroke-dasharray: 755.9549560546875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-4 {
  stroke-dashoffset: 755.9564819335938px;
  stroke-dasharray: 755.9564819335938px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-5 {
  stroke-dashoffset: 755.9547729492188px;
  stroke-dasharray: 755.9547729492188px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg .svg-elem-6 {
  stroke-dashoffset: 146.81593322753906px;
  stroke-dasharray: 146.81593322753906px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-7 {
  stroke-dashoffset: 146.8157958984375px;
  stroke-dasharray: 146.8157958984375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-8 {
  stroke-dashoffset: 146.81613159179688px;
  stroke-dasharray: 146.81613159179688px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-9 {
  stroke-dashoffset: 146.81666564941406px;
  stroke-dasharray: 146.81666564941406px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-10 {
  stroke-dashoffset: 146.8160400390625px;
  stroke-dasharray: 146.8160400390625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-11 {
  stroke-dashoffset: 146.81671142578125px;
  stroke-dasharray: 146.81671142578125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}

svg.active .svg-elem-11 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-12 {
  stroke-dashoffset: 146.81546020507812px;
  stroke-dasharray: 146.81546020507812px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-13 {
  stroke-dashoffset: 146.81698608398438px;
  stroke-dasharray: 146.81698608398438px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
  fill: rgb(119, 119, 119);
}

svg .svg-elem-14 {
  stroke-dashoffset: 874.5108642578125px;
  stroke-dasharray: 874.5108642578125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
  fill: rgb(140, 93, 15);
}

svg .svg-elem-15 {
  stroke-dashoffset: 647.4293212890625px;
  stroke-dasharray: 647.4293212890625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
  fill: rgb(86, 179, 32);
}

svg .svg-elem-16 {
  stroke-dashoffset: 3390px;
  stroke-dasharray: 3390px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
  fill: rgb(219, 219, 219);
}

svg .svg-elem-17 {
  stroke-dashoffset: 3851.238525390625px;
  stroke-dasharray: 3851.238525390625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
}

svg.active .svg-elem-17 {
  stroke-dashoffset: 0;
  fill: rgb(231, 180, 104);
}

svg .svg-elem-18 {
  stroke-dashoffset: 1412.819580078125px;
  stroke-dasharray: 1412.819580078125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
}

svg.active .svg-elem-18 {
  stroke-dashoffset: 0;
  fill: rgb(140, 93, 15);
}

svg .svg-elem-19 {
  stroke-dashoffset: 1109.5892333984375px;
  stroke-dasharray: 1109.5892333984375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
}

svg.active .svg-elem-19 {
  stroke-dashoffset: 0;
  fill: rgb(86, 179, 32);
}

svg .svg-elem-20 {
  stroke-dashoffset: 880.100341796875px;
  stroke-dasharray: 880.100341796875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
}

svg.active .svg-elem-20 {
  stroke-dashoffset: 0;
  fill: rgb(255, 184, 0);
}

svg .svg-elem-21 {
  stroke-dashoffset: 880.1044311523438px;
  stroke-dasharray: 880.1044311523438px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
}

svg.active .svg-elem-21 {
  stroke-dashoffset: 0;
  fill: rgb(255, 184, 0);
}

svg .svg-elem-22 {
  stroke-dashoffset: 880.0870361328125px;
  stroke-dasharray: 880.0870361328125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
}

svg.active .svg-elem-22 {
  stroke-dashoffset: 0;
  fill: rgb(255, 184, 0);
}

svg .svg-elem-23 {
  stroke-dashoffset: 458.8034007259455px;
  stroke-dasharray: 458.8034007259455px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
}

svg.active .svg-elem-23 {
  stroke-dashoffset: 0;
  fill: rgb(255, 132, 19);
}

svg .svg-elem-24 {
  stroke-dashoffset: 193.36346435546875px;
  stroke-dasharray: 193.36346435546875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
}

svg.active .svg-elem-24 {
  stroke-dashoffset: 0;
  fill: rgb(253, 225, 125);
}

svg .svg-elem-25 {
  stroke-dashoffset: 128.75831604003906px;
  stroke-dasharray: 128.75831604003906px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
}

svg.active .svg-elem-25 {
  stroke-dashoffset: 0;
  fill: rgb(255, 189, 20);
}

svg .svg-elem-26 {
  stroke-dashoffset: 233.26902770996094px;
  stroke-dasharray: 233.26902770996094px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
}

svg.active .svg-elem-26 {
  stroke-dashoffset: 0;
  fill: rgb(255, 113, 113);
}

svg .svg-elem-27 {
  stroke-dashoffset: 249.93556213378906px;
  stroke-dasharray: 249.93556213378906px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
}

svg.active .svg-elem-27 {
  stroke-dashoffset: 0;
  fill: rgb(15, 15, 15);
}

svg .svg-elem-28 {
  stroke-dashoffset: 249.9355926513672px;
  stroke-dasharray: 249.9355926513672px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
}

svg.active .svg-elem-28 {
  stroke-dashoffset: 0;
}

svg .svg-elem-29 {
  stroke-dashoffset: 96.03300476074219px;
  stroke-dasharray: 96.03300476074219px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
}

svg.active .svg-elem-29 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-30 {
  stroke-dashoffset: 1477.7933349609375px;
  stroke-dasharray: 1477.7933349609375px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
}

svg.active .svg-elem-30 {
  stroke-dashoffset: 0;
  fill: rgb(98, 209, 224);
}

svg .svg-elem-31 {
  stroke-dashoffset: 1306.447998046875px;
  stroke-dasharray: 1306.447998046875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.8s;
}

svg.active .svg-elem-31 {
  stroke-dashoffset: 0;
  fill: rgb(255, 153, 0);
}

svg .svg-elem-32 {
  stroke-dashoffset: 127.64480590820312px;
  stroke-dasharray: 127.64480590820312px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.9000000000000004s;
}

svg.active .svg-elem-32 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-33 {
  stroke-dashoffset: 128.02955627441406px;
  stroke-dasharray: 128.02955627441406px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4s;
}

svg.active .svg-elem-33 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-34 {
  stroke-dashoffset: 360.1678161621094px;
  stroke-dasharray: 360.1678161621094px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.1000000000000005s;
}

svg.active .svg-elem-34 {
  stroke-dashoffset: 0;
  fill: rgb(236, 236, 76);
}

svg .svg-elem-35 {
  stroke-dashoffset: 359.34161376953125px;
  stroke-dasharray: 359.34161376953125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
}

svg.active .svg-elem-35 {
  stroke-dashoffset: 0;
  fill: rgb(236, 236, 76);
}

svg .svg-elem-36 {
  stroke-dashoffset: 700.142578125px;
  stroke-dasharray: 700.142578125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.3s;
}

svg.active .svg-elem-36 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-37 {
  stroke-dashoffset: 112.48033905029297px;
  stroke-dasharray: 112.48033905029297px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.32s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4s;
}

svg.active .svg-elem-37 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-38 {
  stroke-dashoffset: 118.71220397949219px;
  stroke-dasharray: 118.71220397949219px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.4399999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.5s;
}

svg.active .svg-elem-38 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-39 {
  stroke-dashoffset: 110.06250762939453px;
  stroke-dasharray: 110.06250762939453px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.56s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.6000000000000005s;
}

svg.active .svg-elem-39 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-40 {
  stroke-dashoffset: 113.54584503173828px;
  stroke-dasharray: 113.54584503173828px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.68s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.7s;
}

svg.active .svg-elem-40 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-41 {
  stroke-dashoffset: 252.788330078125px;
  stroke-dasharray: 252.788330078125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s;
}

svg.active .svg-elem-41 {
  stroke-dashoffset: 0;
  fill: rgb(192, 186, 186);
}

svg .svg-elem-42 {
  stroke-dashoffset: 109.26835632324219px;
  stroke-dasharray: 109.26835632324219px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.92s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 4.9s;
}

svg.active .svg-elem-42 {
  stroke-dashoffset: 0;
  fill: rgb(70, 68, 68);
}

svg .svg-elem-43 {
  stroke-dashoffset: 184.63693237304688px;
  stroke-dasharray: 184.63693237304688px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.04s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5s;
}

svg.active .svg-elem-43 {
  stroke-dashoffset: 0;
  fill: rgb(156, 120, 120);
}

svg .svg-elem-44 {
  stroke-dashoffset: 73.89262390136719px;
  stroke-dasharray: 73.89262390136719px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.16s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.1s;
}

svg.active .svg-elem-44 {
  stroke-dashoffset: 0;
  fill: rgb(255, 230, 10);
}

svg .svg-elem-45 {
  stroke-dashoffset: 235.0721435546875px;
  stroke-dasharray: 235.0721435546875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.279999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.2s;
}

svg.active .svg-elem-45 {
  stroke-dashoffset: 0;
  fill: rgb(192, 186, 186);
}

svg .svg-elem-46 {
  stroke-dashoffset: 191.8123016357422px;
  stroke-dasharray: 191.8123016357422px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3999999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.3s;
}

svg.active .svg-elem-46 {
  stroke-dashoffset: 0;
  fill: rgb(156, 120, 120);
}

svg .svg-elem-47 {
  stroke-dashoffset: 113.28199768066406px;
  stroke-dasharray: 113.28199768066406px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.52s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.4s;
}

svg.active .svg-elem-47 {
  stroke-dashoffset: 0;
  fill: rgb(70, 68, 68);
}

svg .svg-elem-48 {
  stroke-dashoffset: 72.62208557128906px;
  stroke-dasharray: 72.62208557128906px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.64s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.5s;
}

svg.active .svg-elem-48 {
  stroke-dashoffset: 0;
  fill: rgb(255, 230, 10);
}

svg .svg-elem-49 {
  stroke-dashoffset: 87.75017547607422px;
  stroke-dasharray: 87.75017547607422px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.76s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.6000000000000005s;
}

svg.active .svg-elem-49 {
  stroke-dashoffset: 0;
  fill: rgb(217, 217, 217);
}

svg .svg-elem-50 {
  stroke-dashoffset: 207.35470581054688px;
  stroke-dasharray: 207.35470581054688px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 5.88s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.7s;
}

svg.active .svg-elem-50 {
  stroke-dashoffset: 0;
  fill: rgb(255, 199, 0);
}

svg .svg-elem-51 {
  stroke-dashoffset: 1451.7401123046875px;
  stroke-dasharray: 1451.7401123046875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.8s;
}

svg.active .svg-elem-51 {
  stroke-dashoffset: 0;
  fill: rgb(255, 242, 123);
}

svg .svg-elem-52 {
  stroke-dashoffset: 171.1956329345703px;
  stroke-dasharray: 171.1956329345703px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 5.9s;
}

svg.active .svg-elem-52 {
  stroke-dashoffset: 0;
  fill: rgb(255, 199, 0);
}

svg .svg-elem-53 {
  stroke-dashoffset: 404.372314453125px;
  stroke-dasharray: 404.372314453125px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6s;
}

svg.active .svg-elem-53 {
  stroke-dashoffset: 0;
  fill: rgb(128, 122, 122);
}

svg .svg-elem-54 {
  stroke-dashoffset: 56.93338648584655px;
  stroke-dasharray: 56.93338648584655px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.359999999999999s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.1000000000000005s;
}

svg.active .svg-elem-54 {
  stroke-dashoffset: 0;
  fill: rgb(217, 217, 217);
}

svg .svg-elem-55 {
  stroke-dashoffset: 329.4701843261719px;
  stroke-dasharray: 329.4701843261719px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4799999999999995s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.2s;
}

svg.active .svg-elem-55 {
  stroke-dashoffset: 0;
  fill: rgb(255, 113, 113);
}

svg .svg-elem-56 {
  stroke-dashoffset: 149.5322723388672px;
  stroke-dasharray: 149.5322723388672px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.3s;
}

svg.active .svg-elem-56 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

svg .svg-elem-57 {
  stroke-dashoffset: 764.7340087890625px;
  stroke-dasharray: 764.7340087890625px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.4s;
}

svg.active .svg-elem-57 {
  stroke-dashoffset: 0;
  fill: rgb(9, 8, 7);
}

svg .svg-elem-58 {
  stroke-dashoffset: 807.666259765625px;
  stroke-dasharray: 807.666259765625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.5s;
}

svg.active .svg-elem-58 {
  stroke-dashoffset: 0;
}

svg .svg-elem-59 {
  stroke-dashoffset: 1148.5740966796875px;
  stroke-dasharray: 1148.5740966796875px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6.96s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.6000000000000005s;
}

svg.active .svg-elem-59 {
  stroke-dashoffset: 0;
  fill: rgb(214, 119, 248);
}

svg .svg-elem-60 {
  stroke-dashoffset: 89.28205108642578px;
  stroke-dasharray: 89.28205108642578px;
  fill: transparent;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 7.08s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 6.7s;
}

svg.active .svg-elem-60 {
  stroke-dashoffset: 0;
  fill: rgb(131, 128, 254);
}

